/*** summarize table ***/
#sumrized_table {
  border: 1px solid #bbb;
  width: auto;
  border-collapse: collapse;
}
#sumrized_table th{
  background-color: #aaa;
}
#sumrized_value {
  text-align: center;
}
#total_value {
  font-weight: bold;
  text-align: center;
}
#total_row {
  border-bottom: double;
  background-color: #eee;
}
#hdear_project {
  min-width: 300px;
}
#header_month {
  min-width: 80px;
}
/*** option area ***/
.option-div-col {
  margin-top: 5px;
  padding: 0px 30px 0px 0px;
  float: left;
}